@model WebsiteInfo
@{
    ViewData["Title"] = "Site Ayarları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Site Ayarlarını Güncelle</h4>
        </div>
        <hr>
        <form asp-controller="Settings" asp-action="Index" asp-area="Admin" method="post" enctype="multipart/form-data">

            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="alert alert-primary" role="alert" asp-validation-summary="All"></div>
            }

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Site Başlığı</label>
                        <input type="text" class="form-control input-rounded" asp-for="Title" placeholder="Site Başlığı">
                        <span asp-validation-for="Title" class="text text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Site Yazarı</label>
                        <input type="text" class="form-control input-rounded" asp-for="SeoAuthor" placeholder="Site Yazarı">
                        <span asp-validation-for="SeoAuthor" class="text text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Anahtar Kelimeler</label>
                <input type="text" class="form-control input-rounded" asp-for="SeoKeywords" placeholder="Anahtar Kelimeler">
                <span asp-validation-for="SeoKeywords" class="text text-danger"></span>
            </div>

            <div class="form-group">
                <label>Site Açıklaması</label>
                <textarea class="form-control" asp-for="SeoDescription" placeholder="Site Açıklaması" rows="7"></textarea>
                <span asp-validation-for="SeoDescription" class="text text-danger"></span>
            </div>

            <div class="form-group">
                <input name="settingsImageFile" type="file" class="dropify" data-height="100" />
            </div>

            <button type="submit" class="btn mb-1 btn-rounded btn-primary">Güncelle</button>
            <a class="btn mb-1 btn-rounded btn-danger" asp-controller="Home" asp-action="Index" asp-area="Admin">Vazgeç</a>
        </form>
    </div>
</div>

@section Css {
    <link href="~/admin/assets/plugins/dropify/dist/css/dropify.min.css" rel="stylesheet" />
}


@section Scripts {
    <script src="~/admin/assets/plugins/dropify/dist/js/dropify.min.js"></script>
    <script type="text/javascript">
        $('.dropify').dropify();
    </script>
}