@model UserChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Şifre Değiştir</h4>
        </div>
        <hr>
        <form asp-area="Admin" asp-controller="User" asp-action="ChangePassword" method="post">

            <div class="form-group">
                <label asp-for="CurrentPassword"></label>

                <div class="input-group" id="show_hide_current_password">
                    <input type="password" class="form-control input-rounded" asp-for="CurrentPassword" placeholder="Şuanki şifrenizi giriniz">
                    <div class="input-group-append">
                        <a href="javascript:;" class="input-group-text border-left-0"><i class='fa fa-eye-slash'></i></a>
                    </div>
                </div>
                <span asp-validation-for="CurrentPassword" class="text text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="NewPassword"></label>
                    <div class="input-group" id="show_hide_password">
                        <input class="form-control input-rounded" type="password" value="" asp-for="NewPassword" placeholder="Yeni şifrenizi giriniz">
                        <div class="input-group-append">
                            <a href="javascript:;" class="input-group-text border-left-0"><i class='fa fa-eye-slash'></i></a>
                        </div>
                    </div>
                    <span class="text text-danger" asp-validation-for="NewPassword"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword"></label>
                    <div class="input-group" id="show_hide_confirm_password">
                        <input class="form-control input-rounded" type="password" value="" asp-for="ConfirmPassword" placeholder="Yeni şifrenizi tekrar giriniz">
                        <div class="input-group-append">
                            <a href="javascript:;" class="input-group-text border-left-0"><i class='fa fa-eye-slash'></i></a>
                        </div>
                    </div>
                    <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>


            <button type="submit" class="btn mb-1 btn-rounded btn-primary">Şifremi Güncelle</button>
            <a class="btn mb-1 btn-rounded btn-danger" href="/Admin/Anasayfa/">Vazgeç</a>
        </form>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $("#show_hide_current_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_current_password input').attr("type") == "text") {
                    $('#show_hide_current_password input').attr('type', 'password');
                    $('#show_hide_current_password i').addClass("bx-hide");
                    $('#show_hide_current_password i').removeClass("bx-show");
                } else if ($('#show_hide_current_password input').attr("type") == "password") {
                    $('#show_hide_current_password input').attr('type', 'text');
                    $('#show_hide_current_password i').removeClass("bx-hide");
                    $('#show_hide_current_password i').addClass("bx-show");
                }
            });
        });

        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bx-hide");
                    $('#show_hide_password i').removeClass("bx-show");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bx-hide");
                    $('#show_hide_password i').addClass("bx-show");
                }
            });
        });

        
        $(document).ready(function () {
            $("#show_hide_confirm_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_confirm_password input').attr("type") == "text") {
                    $('#show_hide_confirm_password input').attr('type', 'password');
                    $('#show_hide_confirm_password i').addClass("bx-hide");
                    $('#show_hide_confirm_password i').removeClass("bx-show");
                } else if ($('#show_hide_confirm_password input').attr("type") == "password") {
                    $('#show_hide_confirm_password input').attr('type', 'text');
                    $('#show_hide_confirm_password i').removeClass("bx-hide");
                    $('#show_hide_confirm_password i').addClass("bx-show");
                }
            });
        });
    </script>
}


