<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
            <div class="card-body">
                <h3 class="card-title text-white">Makaleler</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.ArticleCount</h2>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-newspaper-o"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
            <div class="card-body">
                <h3 class="card-title text-white">Kategoriler</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.CategoryCount</h2>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-list"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
            <div class="card-body">
                <h3 class="card-title text-white">Yorumlar</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.CommentCount</h2>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-comment"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
            <div class="card-body">
                <h3 class="card-title text-white">Mesajlar</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.ContactCount</h2>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-keyboard-o"></i></span>
            </div>
        </div>
    </div>
</div>