<!DOCTYPE html>
<html class="h-100" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Serdeha Admin @(ViewData["Title"] == null ? "" : $" | {ViewData["Title"]}")</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/images/favicon.png">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="/admin/assets/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    @if (TempData["IsSuccess"] != null)
    {
        <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
            @TempData["IsSuccess"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }
    else if (TempData["IsNotSuccess"] != null)
    {
        <div class="alert bg-danger text-white alert-dismissible fade show" role="alert">
            @TempData["IsNotSuccess"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }

    @RenderBody()

    <script src="~/admin/assets/plugins/common/common.min.js"></script>
    <script src="~/admin/assets/js/custom.min.js"></script>
    <script src="~/admin/assets/js/settings.js"></script>
    <script src="~/admin/assets/js/gleek.js"></script>
    <script src="~/admin/assets/js/styleSwitcher.js"></script>
</body>
</html>