@model List<ListSocialMediaDto>

@if (Model.Count > 0)
{
    @foreach (var socialMedia in Model)
    {
        <li class="list-inline-item"><a href="@socialMedia.Url"><i class="@socialMedia.Icon"></i></a></li>
    }
}
