<footer>
	<div class="container-xl">
		<div class="footer-inner">
			<div class="row d-flex align-items-center gy-4">
				<!-- copyright text -->
				<div class="col-md-4">
					<span class="copyright">© 2024 @(DateTime.Now.Year == 2024 ? "" : $"- {DateTime.Now.Year}") Serdeha tarafından <i class="icon-heart icons text-danger"></i> ile yazıldı.</span>
				</div>

				<!-- social icons -->
				<div class="col-md-4 text-center">
					<ul class="social-icons list-unstyled list-inline mb-0">
					</ul>
				</div>

				<!-- go to top button -->
				<div class="col-md-4">
					<a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>Yukarı Çık</a>
				</div>
			</div>
		</div>
	</div>
</footer>