<nav>
	<ul class="vertical-menu">
		<li class="@Html.IsActive("Blog","Index")"><a asp-controller="Blog" asp-action="Index" asp-area="">Anasayfa</a></li>
		<li class="@Html.IsActive("Contact","Index")"><a asp-controller="Contact" asp-action="Index" asp-area="">İletişim</a></li>
	</ul>
</nav>