<nav>
	<ul class="vertical-menu">
		<li class="@Html.IsActive("Blog","Index")"><a asp-controller="Blog" asp-action="Index" asp-area="">Anasayfa</a></li>
		<li class="@Html.IsActive("About","Index")"><a href="/Hakkimda/">Hakkımda</a></li>
		<li class="@Html.IsActive("Contact","Index")"><a href="/Iletisim/">İletişim</a></li>
	</ul>
</nav>