<div class="footer">
    <div class="copyright">
        <p>Copyright © Serdeha tarafından 
        <a href="https://serdeha.com" target="_blank">
                <i class="fa fa-heart text-danger"></i>
        </a> ile kodlandı.</p>
    </div>
</div>