<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Serdeha Admin @(ViewData["Title"] == null ? "" : $" | {ViewData["Title"]}")</title>
    @await Html.PartialAsync("_CssPartialView")
    @if (IsSectionDefined("Css"))
    {
        await RenderSectionAsync("Css", false);
    }
</head>

<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="nav-header">
            <div class="brand-logo">
                <a asp-controller="Home" asp-action="Index" asp-area="Admin">
                    <b class="logo-abbr"><img src="~/admin/assets/images/logo.png" alt="Serdeha Blog"> </b>
                    <span class="logo-compact"><img src="~/admin/assets/images/logo-compact.png" alt="Serdeha Blog"></span>
                    <span class="brand-title">
                        <img src="~/admin/assets/images/logo-text.png" alt="Serdeha Blog">
                    </span>
                </a>
            </div>
        </div>

        @await Html.PartialAsync("_NavbarPartialView")
        @await Html.PartialAsync("_SidebarPartialView")
        <div class="content-body">

            <div class="container-fluid mt-3">
                @if (TempData["IsSuccess"] != null)
                {
                    <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
                        @TempData["IsSuccess"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                else if (TempData["IsNotSuccess"] != null)
                {
                    <div class="alert bg-danger text-white alert-dismissible fade show" role="alert">
                        @TempData["IsNotSuccess"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                @RenderBody()
            </div>
        </div>
        @await Html.PartialAsync("_FooterPartialView")
    </div>

    @await Html.PartialAsync("_JsPartialView")
    @if (IsSectionDefined("Scripts"))
    {
        await RenderSectionAsync("Scripts", false);
    }   
</body>

</html>