<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <div class="header-right">
            <ul class="clearfix">
                @await Component.InvokeAsync("NewMessage")
                @await Component.InvokeAsync("Notification")
                @await Component.InvokeAsync("LoggedInUser")
            </ul>
        </div>
    </div>
</div>