<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Makale</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="true">
                    <i class="icon-book-open menu-icon"></i><span class="nav-text">Makale</span>
                </a>
                <ul aria-expanded="true">
                    <li><a href="/Admin/Makaleler/">Makaleler</a></li>
                </ul>
            </li>

            <li class="nav-label">Kategori</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="true">
                    <i class="icon-folder-alt menu-icon"></i><span class="nav-text">Kategori</span>
                </a>
                <ul aria-expanded="true">
                    <li><a href="/Admin/Kategoriler/">Kategoriler</a></li>
                </ul>
            </li>

            <li class="nav-label">Yorum</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="true">
                    <i class="icon-speech menu-icon"></i><span class="nav-text">Yorumlar</span>
                </a>
                <ul aria-expanded="true">
                    <li><a href="/Admin/Yorumlar/">Yorumlar</a></li>
                </ul>
            </li>

            <li class="nav-label">Mesaj</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="true">
                    <i class="icon-envelope-letter menu-icon"></i><span class="nav-text">Mesaj</span>
                </a>
                <ul aria-expanded="true">
                    <li><a href="/Admin/Iletisim/">Mesajlarım</a></li>
                </ul>
            </li>

            <li class="nav-label">Genel Ayarlar</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="true">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
                <ul aria-expanded="true">
                    <li><a href="/Admin/Ayarlar/">Site Ayarları</a></li>
                    <li><a href="/Admin/Hakkimda/">Hakkımda</a></li>
                    <li><a href="/Admin/Iletisim/Ayarlar/">İletişim</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>